@model TiemTapHoa_WebNangCao.Models.BangLuongView

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TiemTapHoa_WebNangCao.Models.DBTiemTapHoaEntities db = new TiemTapHoa_WebNangCao.Models.DBTiemTapHoaEntities();
}

<link rel="stylesheet" href="~/assets/CSS/form.css" />
<link rel="stylesheet" href="~/assets/CSS/management.css" />

<div class="link">
    <h2 class="title">Chấm công</h2>
    <div class="link_body">
        <a href="@Url.Action("Index", "Home")">Home</a>
        <i class="fa-solid fa-angle-right"></i>
        <a href="@Url.Action("Index", "BangLuong")">Chấm công</a>
        <i class="fa-solid fa-angle-right"></i>
        <a href="@Url.Action("Create", "BangLuong")">Thêm bảng lương</a>
    </div>
</div>

<form action="" id="form-add" method="POST" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <h2 class="form-heading">Thêm bảng lương</h2>
    <div class="form-result">
        @{
            if (ViewBag.addSuccessBL != null)
            {
                <div class="success-form">
                    <i class="fa-solid fa-circle-check"></i>
                    <p>@ViewBag.addSuccessBL</p>
                </div>
            }
            else if (ViewBag.addErrorBL != null)
            {
                <div class="error-form">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <p>@ViewBag.addErrorBL</p>
                </div>
            }
        }

    </div>

    <div class="row form-info">

        <div class="col-lg-10 col-md-8 col-6">
            <div class="row">
                <div class="form-group col-lg-4 col-md-6 col-12">
                    <label class="form-label" for="position">Nhân viên<span class="input-required">*</span></label>
                    <select id="NhanVien" name="NhanVien" class="form__control">
                        <option value="">Chọn nhân viên</option>
                        @{
                            foreach (var nv in db.NhanViens)
                            {
                                <option value="@nv.MaNV">@nv.TenNV</option>
                            }
                        }
                    </select>
                    <span class="error-message"></span>
                </div>

                <div class="form-group col-lg-4 col-md-6 col-12">
                    <label class="form-label">Tháng<span class="input-required">*</span></label>
                    @Html.EditorFor(model => model.Thang, new { htmlAttributes = new { @class = "form__control", placeholder = "Tháng", @type="number" } })
                    <span class="error-message"></span>
                </div>

                <div class="form-group col-lg-4 col-md-6 col-12">
                    <label class="form-label" for="Nam">Năm<span class="input-required">*</span></label>
                    @Html.EditorFor(model => model.Nam, new { htmlAttributes = new { @class = "form__control", placeholder = "Năm" } })
                    <span class="error-message"></span>
                </div>

                <div class="form-group col-lg-4 col-md-6 col-12">
                    <label class="form-label" for="SoNgayNghi">Số ngày nghỉ<span class="input-required">*</span></label>
                    @Html.EditorFor(model => model.SoNgayNghi, new { htmlAttributes = new { @class = "form__control", placeholder = "Số ngày nghỉ" } })
                    <span class="error-message"></span>
                </div>

                <div class="form-group col-lg-4 col-md-6 col-12">
                    <label class="form-label" for="TongSoNgay">Tổng số ngày<span class="input-required">*</span></label>
                    @Html.EditorFor(model => model.TongSoNgay, new { htmlAttributes = new { @class = "form__control", placeholder = "Tổng số ngày" } })
                    <span class="error-message"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="block-button">
        <button class="btn-submit">Thêm</button>
    </div>
</form>

<script src="~/assets/JS/Validator.js"></script>
<script>

    Validator({
        form: '#form-add',
        formGroupSelector: '.form-group',
        errorSelector: '.error-message',
        rules: [
            Validator.isRequired('#NhanVien'),
            
            Validator.isRequired('#Thang'),
            Validator.isNumberAndMinValue('#Thang',1),
            Validator.isRequired('#Nam'),
            Validator.isNumberAndMinValue('#Nam', 2000),
            Validator.isRequired('#SoNgayNghi'),
            Validator.isNumberAndMinValue('#SoNgayNghi', 0),
            Validator.isRequired('#TongSoNgay'),
            Validator.isNumberAndMinValue('#TongSoNgay', 1),


        ]
    });
</script>

