@model TiemTapHoa.Models.ChucVu

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/assets/CSS/form.css" />
<link rel="stylesheet" href="~/assets/CSS/management.css" />

<div class="link">
    <h2 class="title">Thêm chức vu</h2>
    <div class="link_body">
        <a href="@Url.Action("Index", "Home")">Home</a>
        <i class="fa-solid fa-angle-right"></i>
        <a href="@Url.Action("Index", "ChucVu")">Chức vụ</a>
        <i class="fa-solid fa-angle-right"></i>
        <a href="@Url.Action("Create", "ChucVu")">Thêm chức vụ</a>
    </div>
</div>

<form action="" id="form-add" style="display: block; margin-top: 16px;" method="POST">
    @Html.AntiForgeryToken()
    <h2 class="form-heading">Thêm chức vụ</h2>
    <div class="form-result">
        @{
            if (ViewBag.successAddNCC != null)
            {
                <div class="success-form">
                    <i class="fa-solid fa-circle-check"></i>
                    <p>@ViewBag.successAddNCC</p>
                </div>
            }
            else if (ViewBag.errorAddNCC != null)
            {
                <div class="error-form">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <p>@ViewBag.errorAddNCC</p>
                </div>
            }
        }

    </div>

    <div class="row form-info">
        <div class="col-lg-12">
            <div class="row">
                <div class="form-group col-lg-4 col-md-6 col-12">
                    <label class="form-label" for="TenCV">Tên chức vụ<span class="input-required">*</span></label>
                    @Html.EditorFor(model => model.TenCV, new { htmlAttributes = new { @class = "form__control", placeholder = "Tên chức vụ" } })
                    <span class="error-message"></span>
                </div>

                <div class="form-group col-lg-4 col-md-6 col-12">
                    <label class="form-label" for="LuongCV">Số điện thoại<span class="input-required">*</span></label>
                    @Html.EditorFor(model => model.LuongCV, new { htmlAttributes = new { @class = "form__control", placeholder = "Lương chức vụ" } })
                    <span class="error-message"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="block-button">
        <button class="btn-submit">Thêm</button>
    </div>
</form>

<script src="~/assets/JS/Validator.js"></script>
<script>
    Validator({
        form: '#form-add',
        formGroupSelector: '.form-group',
        errorSelector: '.error-message',
        rules: [
            Validator.isRequired('#TenCV'),

            Validator.isRequired('#LuongCV'),

        ]
    });
</script>

