@model IEnumerable<TiemTapHoa_WebNangCao.Models.ChucVu>

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/assets/CSS/supplier.css" />
<link rel="stylesheet" href="~/assets/CSS/management.css" />

<title>Quản lý chức vụ</title>


<div class="link">
    <h2 class="title">Chức vụ</h2>
    <div class="link_body">
        <a href="@Url.Action("Index", "Home")">Home</a>
        <i class="fa-solid fa-angle-right"></i>
        <a href="@Url.Action("Index", "ChucVu")">Chức vụ</a>
    </div>
</div>

<div class="data">
    <h2 class="data-title">Danh sách chức vụ</h2>

    <div class="data-management">
        <div class="data-search">
            <form class="search-input">
                @Html.TextBox("searchString", null, new { placeholder = "Nhập tên chức vụ" })
                <button type="submit" class="buttonSearch">Tìm kiếm</button>
            </form>
        </div>

        <div class="data-update">
            <button class="Btn" onclick="location.href='@Url.Action("Create", "ChucVu")'">Thêm</button>
        </div>
    </div>

    <table class="data-table">
        <tr class="table-head">
            <th>Mã</th>
            <th>Tên</th>
            <th>Lương</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaCV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenCV)
                </td>
                <td>
                    @string.Format("{0:N0}", item.LuongCV)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MaCV }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MaCV })
                </td>
            </tr>
        }

    </table>
</div>
