<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/assets/CSS/layout.css" />
    <link rel="stylesheet" href="~/assets/CSS/base.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    @{
        var user = Session["User"] as TiemTapHoa_WebNangCao.Models.TaiKhoan;
        var page = Session["page"];
    }
    <div id="app">
        <div id="header">
            <div class="sidebar-toggle">
                <i class="show fa-solid fa-bars"></i>
                <i class="hide fa-solid fa-xmark"></i>
            </div>

            <div class="logo">
                <a href="@Url.Action("Index", "Home")">
                    <i class="fa-solid fa-store"></i>
                    <span>Góc tạp hóa nhỏ</span>
                </a>
                <div class="btnShowHide">
                    <i class="fa-solid fa-bars"></i>
                </div>

            </div>

            <div class="header__avatar">
                @{
                    if (user != null)
                    {
                        <div class="avatar">
                            <img src=@user.HinhAnh
                                 alt="">
                            <span>@user.TaiKhoan1</span>
                            <i class="fa-solid fa-angle-down"></i>
                        </div>
                    }
                }

                <div class="avatar--setting">
                    <ul>
                        <li><a href="#">Trang cá nhân</a></li>
                        <li><a href="#">Thông báo</a></li>
                        <hr>
                        <li><a href="#">Cài đặt</a></li>
                        <li><a href="@Url.Action("Login", "TaiKhoan")">Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="container">
            <div id="sidebar">
                <ul class="sidebar__list">
                    <li class="sidebar__item">
                        <a href="@Url.Action("Index", "Home")" class="@(page == "Home" ? "active" : "")" id="homePage">
                            <i class="fa-solid fa-house"></i>
                            <span>Trang chủ</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a href="@Url.Action("Index", "HangHoa")" class="@(page == "HangHoa" ? "active" : "")">
                            <i class="fa-solid fa-box"></i>
                            <span>Hàng hóa</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a href="@Url.Action("Index", "HoaDon")" class="@(page == "HoaDon" ? "active" : "")">
                            <i class="fa-solid fa-arrow-right-arrow-left"></i>
                            <span>Giao dịch</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a href="@Url.Action("Index", "PhieuNhap")" class="@(page == "PhieuNhap" ? "active" : "")">
                            <i class="fa-solid fa-truck"></i>
                            <span>Nhập hàng</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a href="@Url.Action("Index", "NhaCungCap")" class="@(page == "NhaCungCap" ? "active" : "")">
                            <i class="fa-solid fa-warehouse"></i>
                            <span>Nhà cung cấp</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a href="@Url.Action("Index", "NhanVien")" class="@(page == "NhanVien" ? "active" : "")">
                            <i class="fa-solid fa-users"></i>
                            <span>Nhân viên</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a href="@Url.Action("Index", "BangLuong")" class="@(page == "BangLuong" ? "active" : "")">
                            <i class="fa-solid fa-clipboard"></i>
                            <span>Chấm công</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a href="@Url.Action("Index", "ChucVu")" class="@(page == "ChucVu" ? "active" : "")">
                            <i class="fa-solid fa-ranking-star"></i>
                            <span>Chức vụ</span>
                        </a>
                    </li>
                    @*<li class="sidebar__item">
                        <a href="#">
                            <i class="fa-solid fa-coins"></i>
                            <span>Doanh thu</span>
                        </a>
                    </li>*@
                </ul>
            </div>

            <div id="content" style="padding: 20px 40px 20px 20px;">
                @RenderBody();
            </div>
        </div>
        <div class="deck"></div>

        <!-- <div id="footer">

        </div> -->
    </div>

    <script src="~/assets/JS/showHideSidebar.js"></script>
    <script src="~/assets/JS/Validator.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>